<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<link rel="stylesheet" href="../mobile/css/themes/default/font.css">
<link rel="stylesheet" href="../mobile/css/themes/default/jquery.mobile-1.4.5.min.css">
<link rel="stylesheet" href="../mobile/css/themes/default/jqm-demos.css">
<link href="../jqalert/alert.css" rel="stylesheet" type="text/css" media="screen"/>

<script src="../mobile/js/jquery.js"></script>
<script>
</script>
<div data-demo-html="true">
    <div class="ui-grid-d">
        <div class="ui-block-a">
            <div class="ui-bar ui-bar-a" style="height:60px">Block A</div>
        </div>
        <div class="ui-block-b">
            <div class="ui-bar ui-bar-a" style="height:60px">Block B</div>
        </div>
        <div class="ui-block-c">
            <div class="ui-bar ui-bar-a" style="height:60px">Block C</div>
        </div>
        <div class="ui-block-d">
            <div class="ui-bar ui-bar-a" style="height:60px">Block D</div>
        </div>
        <div class="ui-block-e">
            <div class="ui-bar ui-bar-a" style="height:60px">Block E</div>
        </div>
    </div><!-- /grid-c -->
</div><!--/demo-html -->
</div>
</html>