<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('二维码列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            二维码编号：<input type="text" name="codeStr"/>
                        </li>
                        <li>
                            用户分类：<input type="text" name="codeUser"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="isky:figureQrcode:add">
                <i class="fa fa-plus"></i> 生成二维码
            </a>

            <a class="btn btn-success" onclick="downPDF()" shiro:hasPermission="isky:figureQrcode:add">
                <i class="fa fa-plus"></i> 生成PDF
            </a>
            <a class="btn btn-success" onclick="downQrcode()"  >
                <i class="fa fa-plus"></i>  二维码下载
            </a>
            <a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="isky:figureQrcode:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('isky:figureQrcode:edit')}]];
    var removeFlag = [[${@permission.hasPermi('isky:figureQrcode:remove')}]];
    var prefix = ctx + "isky/figureQrcode";
    var datas = [[${@dict.getType('isuse')}]];
    var datas1 = [[${@dict.getType('print')}]];
    var datas2 = [[${@dict.getType('up_type')}]];
    var datas3 = [[${@dict.getType('code_user')}]];
    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "二维码",
            showExport: true,
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '主键',
                    visible: false
                },
                {
                    field: 'codeStr',
                    title: '二维码编号',
                    sortable: true
                },
                {
                    field: 'codeUrl',
                    title: '二维码路径',
                    sortable: true
                },
                {
                    field: 'codeUser',
                    title: '用户类别',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(datas3, value);
                    },
                    sortable: true
                },
                {
                    field: 'isUse',
                    title: '是否使用',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(datas, value);
                    },
                    sortable: true
                },
                {
                    field: 'isPrint',
                    title: '是否打印',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(datas1, value);
                    },
                    sortable: true
                },
                {
                    field: 'codeGenre',
                    title: '上传类型',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(datas2, value);
                    },
                    sortable: true
                },
                {
                    field: 'codeImg',
                    title: '二维码图片',
                    formatter: function (value, row, index) {
                        return "<img src='../profile/upload/" + value + "' width='80px'/>";
                    },
                    sortable: true
                },
                {
                    field: 'createTime',
                    title: '生成日期',
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
//                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });


    function downQrcode() {

        var rows = $.common.isEmpty($.table._option.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns($.table._option.uniqueId);
        if (rows.length == 0) {
            $.modal.alertWarning("请至少选择一条记录");
            return;
        }
        layer.msg("压缩包正在生成，可能需要一点时间，请勿关闭页面", {icon: $.modal.icon(modal_status.SUCCESS), time: 4000, shift: 5});
        var url = ctx + 'qrcode/downZip?ids=' + rows.join();
        window.location.href = url;
    }

    function downPDF() {
        var rows = $.common.isEmpty($.table._option.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns($.table._option.uniqueId);
        if (rows.length == 0) {
            $.modal.alertWarning("请至少选择一条记录");
            return;
        }
        var url = ctx + 'qrcode/downPdf?ids=' + rows.join();;
        window.location.href = url;
    }
</script>
</body>
</html>