<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>台历</title>
    <meta http-equiv="X-UA-Compatible" content="IE=11"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <!--主要样式-->
    <link rel="stylesheet" type="text/css"
          href="../impression/css/reset.css"/>
    <!-- 无所谓-->
    <link rel="shortcut icon" href="favicon.ico">
    <script src="../impression/js/rem.js"></script>
    <script type="text/javascript">
        if (screen.width == 2560) {
            document
                .write('<link href= "../impression/css/index_big.css" rel="stylesheet" type="text/css" />');
        } else {
            document
                .write('<link href= "../impression/css/index.css" rel="stylesheet" type="text/css" />');
        }
    </SCRIPT>
    <style>

        .indeBox {
            /*width: 10.5rem;*/
            height: 11.15rem;
            border-radius: 5px;
            padding: 0 1rem;
            position: relative;
            margin-bottom: 5rem;
            /*margin: 0 auto;*/
        }
    </style>
</head>
<body>
<div class="login">
    <img class="loginLogo" src="../impression/images/logo.png"/>
    <div class="indeBox">
        <div style="display: block;float: left;width: 48%">
            <img src="../impression/images/8cunh.png" width="95%" onclick="gomxph(4);">
        </div>
        <div style="display: block;float: right;width: 48%">
            <img src="../impression/images/6cuns.png" width="95%" onclick="gomxps(7);">
        </div>
        <div style="display: block;float: left;width: 48%">
            <img src="../impression/images/6cunh.png" width="95%" onclick="gomxph(9);">
        </div>
        <div style="display: block;float: right;width: 48%">
            <img src="../impression/images/8cun1.png" width="95%" onclick="gomxps(10);">
        </div>
        <div style="display: block;float: left;width: 48%">
            <img src="../impression/images/tieyi.png" width="95%" onclick="gomxph(15);">
        </div>
        <div style="display: block;float: right;width: 48%">
            <img src="../impression/images/8cun2.png" width="95%" onclick="gomxps(14);">
        </div>


    </div>
</div>
</body>
<script src="../impression/js/jquery.min.js" type="text/javascript"></script>
<!--alert弹出框结束 -->
<script type="text/javascript">
    /**
     *以下代码用来调整页面宽高
     */
    $(document).ready(function () {
        var windowHeight = $(document).height();
        console.log(windowHeight)
        console.log($("body").height())
        if ($("body").height() < windowHeight) {
            $("body").height(windowHeight);
        }
    });



    function gomxph(n) {
        window.sessionStorage.setItem("tp",n);
        window.location.href = "tl/index"
    }

    function gomxps(n) {
        window.sessionStorage.setItem("tp",n);
        window.location.href = "tls"
    }
</script>
</html>