<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增模板')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-iskyPhoneMb-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">型号：</label>

				<div class="col-sm-8">
					<!--<input id="brandId" name="brandId" class="form-control" type="text">-->
					<select id="modelId" name="modelId" class="form-control select2-multiple"  >
						<option th:each="model:${models}" th:value="${model.id}" th:text="${model.modelName}"  ></option>
					</select>
				</div>
			</div>
			<!--<div class="form-group">-->
				<!--<label class="col-sm-3 control-label">模板：</label>-->
				<!--<div class="col-sm-8">-->
					<!--<input id="mbUrl" name="mbUrl" class="form-control" type="text">-->
				<!--</div>-->
			<!--</div>-->


			<div class="form-group" id="mytemplate"  >
				<label class="col-sm-3 control-label">模板：</label>
				<div class="col-sm-8">
					<input id="template" name="template" class="form-control" type="file" multiple>
					<input id="templatearra" name="templatearra" class="form-control" type="hidden">
				</div>
			</div>
			<!--<div class="form-group">	-->
				<!--<label class="col-sm-3 control-label">模板宽度：</label>-->
				<!--<div class="col-sm-8">-->
					<!--<input id="mbWidth" name="mbWidth" class="form-control" type="text">-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="form-group">	-->
				<!--<label class="col-sm-3 control-label">模板高度：</label>-->
				<!--<div class="col-sm-8">-->
					<!--<input id="mbHeight" name="mbHeight" class="form-control" type="text">-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="form-group">	-->
				<!--<label class="col-sm-3 control-label">X坐标：</label>-->
				<!--<div class="col-sm-8">-->
					<!--<input id="mbXsite" name="mbXsite" class="form-control" type="text">-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="form-group">	-->
				<!--<label class="col-sm-3 control-label">Y坐标：</label>-->
				<!--<div class="col-sm-8">-->
					<!--<input id="mbYsite" name="mbYsite" class="form-control" type="text">-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="form-group">	-->
				<!--<label class="col-sm-3 control-label">文本：</label>-->
				<!--<div class="col-sm-8">-->
					<!--<input id="mbText" name="mbText" class="form-control" type="text">-->
				<!--</div>-->
			<!--</div>-->
			<div class="form-group">	
				<label class="col-sm-3 control-label">排序：</label>
				<div class="col-sm-8">
					<input id="mbOrder" name="mbOrder" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "isky/iskyPhoneMb"
		$("#form-iskyPhoneMb-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-iskyPhoneMb-add').serialize());
	        }
	    }
	</script>
</body>
</html>
