<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('印数统计列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								用户： <select id="userId" name="userId"
										   th:with="type=${@dict.getType('yin_user')}"
										   onchange="queryAfterChange(this);">
								<option th:each="dict : ${type}" th:text="${dict.dictLabel}"
										th:value="${dict.dictValue}"></option>
							</select>
							</li>
							<li class="select-time">
								<label>提交时间： </label>
								<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
								<span>-</span>
								<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">

				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="isky:figureYzfrom:export">
					<i class="fa fa-download"></i> 导出
				</a>

			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('isky:figureYzfrom:edit')}]];
        var removeFlag = [[${@permission.hasPermi('isky:figureYzfrom:remove')}]];
        var prefix = ctx + "isky/figureYzfrom";
        var datas = [[${@dict.getType('yin_user')}]];
        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/exportAll",
                modalName: "印数统计",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : '主键',
					visible: false
				},
				{
					field : 'userId', 
					title : '用户',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(datas, value);
                    },
					sortable: true
				},
				{
					field : 'c8', 
					title : '4C+4C',
					sortable: true
				},
				{
					field : 'c5', 
					title : '4C+1C',
					sortable: true
				},
				{
					field : 'c4', 
					title : '4C+0',
					sortable: true
				},
				{
					field : 'c2', 
					title : '1C+1C',
					sortable: true
				},
				{
					field : 'c1', 
					title : '1C+0',
					sortable: true
				},
				{
					field : 'call', 
					title : '印刷总张数',
					sortable: true
				},
				{
					field : 'c8f', 
					title : '浪费4C+4C',
					sortable: true
				},
				{
					field : 'c5f', 
					title : '浪费4C+1C',
					sortable: true
				},
				{
					field : 'c4f', 
					title : '浪费4C+0',
					sortable: true
				},
				{
					field : 'c2f', 
					title : '浪费1C+1C',
					sortable: true
				},
				{
					field : 'c1f', 
					title : '浪费1C+0',
					sortable: true
				},
				{
					field : 'callf', 
					title : '浪费总张数',
					sortable: true
				},

				{
					field : 'createDate', 
					title : '提交日期',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>查看</a> ');
//                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>查看</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });




    </script>
</body>
</html>