<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <title>印刷数据内容表单</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

    <link rel="stylesheet" href="../weui/lib/weui.min.css">
    <link rel="stylesheet" href="../weui/css/jquery-weui.css">
    <link rel="stylesheet" href="../weui/css/demos.css">
</head>
<body ontouchstart>
<header class='demos-header'>
    <h1 class="demos-title">印刷数据内容表单</h1>
</header>

<div class="weui-cells__title">印刷统计</div>
<form id="myform" name="myform" method="post">
    <div class="weui-cells weui-cells_form">

        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">4C+0</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="c4" name="c4" pattern="[0-9]*">
            </div>
        </div>


        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">4C+1C</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="c5" name="c5" pattern="[0-9]*">
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">4C+4C</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="c8" name="c8" pattern="[0-9]*">
            </div>
        </div>


        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">1C+1C</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="c2" name="c2" pattern="[0-9]*">
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">1C+0</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="c1" name="c1" pattern="[0-9]*">
            </div>
        </div>
    </div>

    <div class="weui-cells__tips">吕栋纸张统计</div>
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">4C+4C</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="lc8" name="lc8" pattern="[0-9]*">
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">4C+1C</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="lc5" name="lc5" pattern="[0-9]*">
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">4C+0</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="lc4" name="lc4" pattern="[0-9]*">
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">1C+1C</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="lc2" name="lc2" pattern="[0-9]*">
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">1C+0</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="lc1" name="lc1" pattern="[0-9]*">
            </div>
        </div>
    </div>


    <div class="weui-cells__tips">纸张统计</div>
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">白卡</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="bk" name="bk" pattern="[0-9]*" value="0">
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">哑粉</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="yf" name="yf" pattern="[0-9]*" value="0">
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">高超</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="gc" name="gc" pattern="[0-9]*" value="0">
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">高米</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="gm" name="gm" pattern="[0-9]*" value="0">
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">雪卡</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="xk" name="xk" pattern="[0-9]*" value="0">
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">细格</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="xg" name="xg" pattern="[0-9]*" value="0">
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">亮卡</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="lk" name="lk" pattern="[0-9]*" value="0">
            </div>
        </div>


        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">珠光</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="zg" name="zg" pattern="[0-9]*" value="0">
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">铜板</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="tb" name="tb" pattern="[0-9]*" value="0">
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">纯质</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="cz" name="cz" pattern="[0-9]*" value="0">
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">满天星</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="mtx" name="mtx" pattern="[0-9]*" value="0">
            </div>
        </div>
    </div>

    <div class="weui-cells__tips">浪费统计</div>
    <div class="weui-cells__tips">清洁纸</div>
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">4C+4C</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="c8qj" name="c8qj" pattern="[0-9]*" value="0">
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">4C+1C</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="c5qj" name="c5qj" pattern="[0-9]*" value="0">
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">4C+0</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="c4qj" name="c4qj" pattern="[0-9]*" value="0">
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">1C+1C</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="c2qj" name="c2qj" pattern="[0-9]*" value="0">
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">1C+0</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="c1qj" name="c1qj" pattern="[0-9]*" value="0">
            </div>
        </div>
    </div>

    <div class="weui-cells__tips">卡纸</div>
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">4C+4C</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="c8kz" name="c8kz" pattern="[0-9]*" value="0">
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">4C+1C</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="c5kz" name="c5kz" pattern="[0-9]*" value="0">
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">4C+0</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="c4kz" name="c4kz" pattern="[0-9]*" value="0">
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">1C+1C</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="c2kz" name="c2kz" pattern="[0-9]*" value="0">
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">1C+0</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="c1kz" name="c1kz" pattern="[0-9]*" value="0">
            </div>
        </div>
    </div>

    <div class="weui-cells__tips">印刷</div>
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">4C+4C</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="c8ys" name="c8ys" pattern="[0-9]*" value="0">
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">4C+1C</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="c5ys" name="c5ys" pattern="[0-9]*" value="0">
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">4C+0</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="c4ys" name="c4ys" pattern="[0-9]*" value="0">
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">1C+1C</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="c2ys" name="c2ys" pattern="[0-9]*" value="0">
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">1C+0</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="c1ys" name="c1ys" pattern="[0-9]*" value="0">
            </div>
        </div>
    </div>
    <div class="weui-cells__tips">早印数</div>
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">总</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="zys" name="zys" pattern="[0-9]*">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">单</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="zysd" name="zysd" pattern="[0-9]*">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">双</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="zyss" name="zyss" pattern="[0-9]*">
            </div>
        </div>
    </div>
    <div class="weui-cells__tips">晚印数</div>
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">总</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="wys" name="wys" pattern="[0-9]*">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">单</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="wysd" name="wysd" pattern="[0-9]*">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">双</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="wyss" name="wyss" pattern="[0-9]*">
            </div>
        </div>
    </div>

    <div class="weui-cells__tips">电费统计</div>
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">早电数</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="zds" name="zds" pattern="[0-9]*">
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">晚电数</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="wds" name="wds" pattern="[0-9]*">
            </div>
        </div>
    </div>
</form>
<div class="weui-btn-area">
    <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips">确定</a>
</div>
<div style="display: none;">
    <input th:value="${userid}" id="userid">
    <input type="text" id="typeid" th:value="${tid}">
</div>

<script src="../weui/lib/jquery-2.1.4.js"></script>
<script src="../weui/lib/fastclick.js"></script>
<script>
    $(function () {
        FastClick.attach(document.body);
    });
</script>
<script src="../weui/js/jquery-weui.js"></script>
<script>

    /**
     * 根据form表单的id获取表单下所有可提交的表单数据，封装成数组对象
     */
    function getFormData(formId) {
        var data = {};
        var results = $(formId).serializeArray();
        $.each(results, function (index, item) {
            //文本表单的值不为空才处理
            if (item.value && $.trim(item.value) != "") {
                if (!data[item.name]) {
                    data[item.name] = item.value;
                } else {
                    //name属性相同的表单，值以英文,拼接
                    data[item.name] = data[item.name] + ',' + item.value;
                }
            }
        });
        return data;
    }

    $("#showTooltips").click(function () {
            var userid = $("#userid").val();
            var ajaxVialidateData = {
                userid: userid
            }
            var flag = flag;
            $.ajax({
                type: "POST",
                url: "queryValidate",
                data: ajaxVialidateData,
                async: false,
                dataType: "json",
                success: function (msg) {
                    flag = msg.isflag;
                }
            });

            if (flag) {
                var c8 = $('#c8').val();
                var c5 = $('#c5').val();
                var c4 = $('#c4').val();
                var c2 = $('#c2').val();
                var c1 = $('#c1').val();
                var zyss = $("#zyss").val();
                var zys = $("#zys").val();
                var zysd = $("#zysd").val();

                var wys = $("#wys").val();
                var wysd = $("#wysd").val();
                var wyss = $("#wyss").val();

                var zds = $("#zds").val();
                var wds = $("#wds").val();
                var flag = true;
                if (!c8) {
                    flag = false;
                    $.toptip('请输入4C+4C');
                } else if (!c5) {
                    flag = false;
                    $.toptip('请输入4C+1C');
                } else if (!c4) {
                    flag = false;
                    $.toptip('请输入4C+0');
                } else if (!c2) {
                    flag = false;
                    $.toptip('请输入1C+1C');
                } else if (!c1) {
                    flag = false;
                    $.toptip('请输入1C+0');
                } else if (!zys) {
                    flag = false;
                    $.toptip('请输入早印数总');
                } else if (!zysd) {
                    flag = false;
                    $.toptip('请输入早印数单');
                } else if (!zyss) {
                    flag = false;
                    $.toptip('请输入早印数双');
                } else if (!wys) {
                    flag = false;
                    $.toptip('请输入晚印数总');
                } else if (!wysd) {
                    flag = false;
                    $.toptip('请输入晚印数单');
                } else if (!wyss) {
                    flag = false;
                    $.toptip('请输入晚印数双');
                } else if (!zds) {
                    flag = false;
                    $.toptip('请输入早电数');
                } else if (!wds) {
                    flag = false;
                    $.toptip('请输入晚电数');
                }

                if (!flag) {
                    return;
                }
                var datas = getFormData("form");
                var mydatas = JSON.stringify(datas);
                var ajaxData = {
                    mydatas: mydatas,
                    userid: userid
                }
                var ajaxUrl = "saveYinDu";
                $.ajax({
                    type: "POST",
                    url: ajaxUrl,
                    data: ajaxData,
                    async: false,
                    dataType: "json",
                    success: function (msg) {
                        var msg = msg.msg;
                        if (msg == '1') {
                            window.location.href = "yinResult";
                            window
                        }
                    }
                });
            } else {
                $.toptip('一天只可以提交一次', 'error');
            }
        }
    );
</script>
</body>
</html>
