<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增图片属性')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-figureImageProperty-add">
			<div class="form-group">
				<label class="col-sm-3 control-label">图片编号：</label>
				<div class="col-sm-8">
					<input id="imageId" name="imageId" class="form-control" type="text" th:value="${imageId}" readonly>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">x坐标：</label>
				<div class="col-sm-8">
					<input id="xSite" name="xSite" class="form-control" type="text" >
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">y坐标：</label>
				<div class="col-sm-8">
					<input id="ySite" name="ySite" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">宽度：</label>
				<div class="col-sm-8">
					<input id="width" name="width" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">高度：</label>
				<div class="col-sm-8">
					<input id="height" name="height" class="form-control" type="text">
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label">排序：</label>
				<div class="col-sm-8">
					<input id="orderNum" name="orderNum" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "isky/figureImageProperty"
		$("#form-figureImageProperty-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-figureImageProperty-add').serialize());
	        }
	    }
	</script>
</body>
</html>
